pip install tree-sitter==0.21.0
pip install tree-sitter-python==0.21.0
pip install tree-sitter-javascript==0.21.0
pip install tree-sitter-java==0.21.0
pip install pydantic==2.0.0

pip install langchain
pip install langchain-ollama
pip install langchain-core
pip install langchain-community


pip install python-dateutil